<app-header [title]="'Exercice 2'"></app-header>

<div  [ngClass]="status ? 'light-mode' : 'dark-mode'" id="montre-container" >
    <div class="center" >
        <button class="btn-lg" [ngClass]="status ? 'btn btn-secondary' : 'btn btn-primary'" (click)="click()">Dark Mode</button>
        <button class="btn-lg" [ngClass]="status ? 'btn btn-primary' : 'btn btn-secondary'" (click)="click_dark()">Light Mode</button>
    </div>
  <div id="montre" >
      <img class="images" src="https://i.ibb.co//HnJsDYc/60.png">
      <img class="images" [src]="status ? 'https://i.ibb.co/pLgsbW0/12.png' : 'https://i.ibb.co/1nG58sx/12-dark.png'">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(seconds*6)+'deg)'}" [src]="status ? 'https://i.ibb.co/wrCVgLM/second.png' : 'https://i.ibb.co/djqmp43/second-dark.png'">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(minutes*6)+'deg)'}" [src]="status ? 'https://i.ibb.co/MCNvY2J/minute.png' : 'https://i.ibb.co/ZxnTTjM/minute-dark.png'">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+((hours*30)+(minutes*0.2))+'deg)'}"
        [src]="status ? 'https://i.ibb.co/xLjDTN2/heure.png' : 'https://i.ibb.co/3rRRtK3/heure_dark.png'">
      <img class="images" [src]="status ? 'https://i.ibb.co/RT453Md/panel.png' : 'https://i.ibb.co/yWNyGjc/panel_dark.png'">
    

    </div>
</div>
 