<app-header [title]="'Exercice 2'"></app-header>

<div  [ngClass]="status ? 'light-mode' : 'dark-mode'" id="montre-container" >
    <div class="center" >
        <button class="btn"(click)="click()">Dark Mode</button>
        <button (click)="click_dark()">Light Mode</button>
    </div>
  <div id="montre" >
      <img class="images" src="/assets/60.png">
      <img class="images" src="/assets/12.png">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(seconds*6)+'deg)'}" src="/assets/second.png">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+(minutes*6)+'deg)'}" src="/assets/minute.png">
      <img class="images aiguille" [ngStyle]="{'transform': 'rotate('+((hours*30)+(minutes*0.2))+'deg)'}"
        src="/assets/heure.png">
      <img class="images" src="/assets/panel.png">
    
    </div>
</div>
 